#appreciation .years-list {
  margin-top: 30px;
  column-count: 3; }
  #appreciation .years-list .year {
    border: 2px solid red; }

#appreciation .year {
  text-align: center; }
  #appreciation .year .amount {
    font-size: 3rem; }

/*# sourceMappingURL=appreciation.css.map */