#charity {
  background: url("../img/charity.png") no-repeat right bottom/contain;
  overflow: hidden;
  position: relative; }
  #charity .trigger {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 1px;
    background: red; }
  #charity p:not(:last-child) {
    margin-bottom: 15px; }
  #charity .button {
    margin-top: 20px;
    padding: 10px 40px;
    width: 50%;
    text-align: center; }
  #charity .parallax-el {
    position: relative; }
  #charity img {
    width: 680px; }
  #charity h4 {
    font-size: 1rem;
    margin-bottom: 30px;
    text-transform: uppercase; }
  #charity .row:not(:last-child) {
    margin-bottom: 30px; }

@media (max-width: 480px) {
  #charity .parallax-el {
    transform: none !important; } }

@media (max-width: 1023px) {
  #charity .row > div:first-child {
    margin-bottom: 40px; } }

/*# sourceMappingURL=charity.css.map */