#header {
  margin-top: 40px;
  margin-bottom: 60px;
  text-transform: uppercase; }
  #header .content {
    display: flex; }
  #header a {
    line-height: 32px;
    display: block; }
  #header .button {
    line-height: 28px;
    padding: 0 15px; }
  #header .header-list {
    display: flex;
    margin-left: auto; }
    #header .header-list li {
      margin-left: 20px; }

/*# sourceMappingURL=header.css.map */