#home {
  position: relative;
  padding-bottom: 0;
  margin-bottom: 100px; }
  #home .content {
    display: flex;
    position: relative; }
  #home .bg {
    position: absolute;
    top: 80px;
    bottom: 80px;
    left: 0;
    right: 0;
    z-index: -1;
    background: url("../img/home.png") no-repeat center center/cover;
    object-fit: cover; }
  #home h1 {
    font-size: 6.5rem;
    text-transform: uppercase; }
  #home .box {
    box-sizing: border-box;
    margin-left: auto; }
  #home .description {
    background: #0D1D3E;
    padding: 50px;
    width: 400px;
    position: relative; }
    #home .description p {
      color: #fff; }
      #home .description p:not(:last-child) {
        margin-bottom: 20px; }
  #home .rsvp {
    background: #E6E6E6;
    padding: 40px 50px;
    width: 300px;
    position: relative; }
    #home .rsvp div:not(:last-child) {
      margin-bottom: 10px; }
    #home .rsvp .button {
      display: block;
      text-align: center; }

.logo-fixed {
  position: fixed;
  width: 610px;
  top: auto !important;
  left: auto !important;
  right: auto !important;
  z-index: 9; }
  .logo-fixed .logo {
    background: url("../img/winter-magic-logos.svg") no-repeat 0 0;
    width: 606px;
    height: 108px;
    display: block; }
  .logo-fixed .logo.white {
    background-position: 0 -139px; }

@media (min-width: 769px) {
  #home .content {
    flex-direction: column; }
  #home .description {
    transform: translateX(-170px);
    margin-top: 150px; }
  #home .rsvp {
    transform: translateY(-30px) translateX(-100px); } }

@media (max-width: 768px) {
  .logo-fixed {
    zoom: .6;
    position: absolute !important; }
  #home .content {
    padding-top: 50px;
    padding-bottom: 50px; }
  #home .box {
    margin-top: 100px; }
  #home .bg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; } }

@media (max-width: 480px) {
  .logo-fixed {
    zoom: .4;
    position: relative !important; }
  #home .content {
    flex-direction: column; }
  #home .box {
    padding: 30px;
    width: 100%; }
  #home .rsvp {
    margin-top: 0; }
  #home .description {
    margin-top: 40px; } }

/*# sourceMappingURL=home.css.map */