.popup {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  box-sizing: border-box;
  transition: .3s all ease;
  transform: translateY(100%);
  background: #fff; }
  .popup.show {
    transform: none; }
    .popup.show .anim-1,
    .popup.show .anim-2,
    .popup.show .anim-3 {
      opacity: 1;
      transform: none; }
    .popup.show .anim-1 {
      transition-delay: .15s; }
    .popup.show .anim-2 {
      transition-delay: .3s; }
    .popup.show .anim-3 {
      transition-delay: .45s; }
  .popup .el-hidden, .popup .anim-1, .popup .anim-2, .popup .anim-3 {
    opacity: 0;
    transform: translateY(15px);
    transition: .3s all ease; }
  .popup .content-wrapper {
    align-self: center;
    width: 100%; }
  .popup .close-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer; }
  .popup h5 {
    opacity: 0.25;
    line-height: 2; }
  .popup .input-wrapper {
    position: relative;
    display: block;
    margin: 40px 0 30px; }
  .popup input[type="email"] {
    display: block;
    padding: 15px 0;
    border: none;
    background: transparent;
    color: #000;
    font-size: 1.4rem;
    border-bottom: 2px solid #ddd;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0; }
    .popup input[type="email"]:focus + .border-bottom {
      transform: none; }
  .popup .border-bottom {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 2px;
    background: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: .3s all ease;
    display: block; }
  .popup a {
    color: #fff; }
  .popup .buttons-wrapper {
    display: flex; }
  .popup .button {
    padding-left: 35px;
    padding-right: 35px;
    background: transparent; }
  .popup .button.close {
    margin-left: 10px; }

/*# sourceMappingURL=popup.css.map */