@media (min-width: 960px) {
  .base-width {
    width: 960px;
    margin: 0 auto;
    display: block; }
  .display-flex {
    display: flex; } }

@media (min-width: 1024px) {
  section .img-wrapper.left {
    padding-right: 40px; }
  section .img-wrapper.right {
    padding-left: 40px; } }

.hide-fly {
  opacity: 0;
  transform: translateY(30px); }

body {
  font-size: 16px;
  font-family: "Gilroy-Light", sans-serif;
  color: #0D1D3E; }

p {
  font-size: 1rem; }

.submit-wrapper {
  position: relative; }
  .submit-wrapper .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0D1D3E;
    transform: scaleX(0);
    transform-origin: left;
    z-index: 0;
    transition: .3s all ease;
    pointer-events: none; }

.button-rsvp {
  letter-spacing: 1.5; }

.button {
  border: 2px solid #0D1D3E;
  padding: 10px;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  font-size: 1rem;
  font-family: "Gilroy-Medium", sans-serif;
  color: #0D1D3E;
  cursor: pointer;
  transition: .3s all ease;
  z-index: 9;
  border-radius: 0; }
  .button .text {
    color: #0D1D3E;
    position: relative;
    transition: .3s all ease;
    font-family: "Gilroy-Medium", sans-serif; }
  .button:not(.secondary):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0D1D3E;
    transform: scaleX(0);
    transform-origin: left;
    z-index: 0;
    transition: .3s all ease; }
  .button:hover {
    color: #fff;
    background: #0D1D3E; }
    .button:hover .text {
      color: #fff; }

h3 {
  font-size: 1.6rem;
  font-family: "din-condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5; }
  h3.w-line {
    padding-bottom: 6px;
    border-bottom: 3px solid #0D1D3E; }

section .align-center {
  align-self: center; }

section .align-bottom {
  align-self: flex-end; }

section img {
  width: 100%;
  display: block; }

section h3 {
  margin-bottom: 40px; }

section p {
  font-size: 1rem;
  line-height: 1.5; }

section:not(:last-child) {
  margin-bottom: 100px; }

body.show-mobile-nav .overlay {
  opacity: 1;
  pointer-events: auto; }

body.show-mobile-nav .mobile-nav {
  transform: none; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 997;
  pointer-events: none;
  opacity: 0;
  transition: .3s all ease; }

.mobile-nav {
  background: #fff;
  width: 80%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 998;
  box-sizing: border-box;
  padding: 25px;
  transform: translateX(-105%);
  transition: .3s all ease;
  box-shadow: 2px 1px 20px 0px rgba(0, 0, 0, 0.15); }
  .mobile-nav .logo {
    margin-bottom: 50px;
    display: block; }
    .mobile-nav .logo img {
      display: block;
      width: 183px;
      height: 20px; }
  .mobile-nav .button {
    padding-left: 35px;
    padding-right: 35px; }
  .mobile-nav li:not(:last-child) {
    margin-bottom: 20px; }
  .mobile-nav li a {
    text-transform: uppercase;
    color: #0D1D3E; }

@media (max-width: 960px) {
  .base-width {
    padding: 0 40px; } }

@media (max-width: 768px) {
  .base-width img {
    max-height: 400px;
    object-fit: cover; } }

@media (max-width: 1023px) {
  .row:not(.value-list) > div:not(:last-child) {
    margin-bottom: 40px; } }

@media (min-width: 731px) {
  .mobile-nav {
    display: none; }
  .overlay {
    display: none; } }

@media (max-width: 480px) {
  .base-width {
    padding: 0 25px; }
  section img {
    width: 100% !important; } }

footer {
  background: #0D1D3E;
  height: 100px; }

#header {
  margin-bottom: 30px;
  text-transform: uppercase;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 99;
  overflow: hidden;
  border-bottom: 1px solid #F0F0F0; }
  #header .content {
    display: flex; }
  #header .logo {
    padding: 19.5px 0;
    transition: .3s all ease; }
    #header .logo img {
      display: block;
      width: 183px;
      height: 20px; }
  #header.hide-logo {
    border-color: transparent; }
    #header.hide-logo .logo {
      transform: translateY(100%); }
  #header a {
    line-height: 32px;
    display: block;
    letter-spacing: 1.5;
    color: #0D1D3E; }
  #header .button {
    line-height: 28px;
    padding: 0 40px; }
  #header .header-list {
    display: flex;
    margin-left: auto; }
    #header .header-list li {
      margin-left: 20px;
      align-self: center; }
    #header .header-list a {
      font-size: .9rem; }
  #header .burger-menu {
    width: 32px;
    height: 26px;
    display: block;
    margin-left: auto;
    align-self: center;
    display: none;
    position: relative;
    cursor: pointer; }
    #header .burger-menu .bar {
      background: #0D1D3E;
      height: 2px;
      position: absolute;
      left: 0;
      width: 100%; }
    #header .burger-menu .bar:first-child {
      top: 0; }
    #header .burger-menu .bar:nth-child(2) {
      top: 50%;
      transform: translateY(-50%); }
    #header .burger-menu .bar:last-child {
      bottom: 0; }

@media (max-width: 730px) {
  #header .burger-menu {
    display: block; }
  #header .header-list {
    display: none; } }

@media (max-width: 480px) {
  #header {
    margin: 0;
    overflow: hidden; }
    #header .content {
      overflow: auto; }
    #header .header-list {
      width: 425px; }
      #header .header-list li {
        margin-left: 0;
        margin-right: 20px; }
      #header .header-list li:last-child {
        border-right: 20px solid #fff; } }

#home {
  position: relative;
  padding-bottom: 0;
  margin-bottom: 100px;
  overflow: hidden; }
  #home .content {
    position: relative; }
  #home .bg {
    position: absolute;
    top: 120px;
    bottom: 80px;
    left: -40px;
    right: -40px;
    z-index: -1;
    background: url("../img/home.png") no-repeat center center/cover;
    object-fit: cover; }
  #home h1 {
    font-size: 6.5rem;
    text-transform: uppercase; }
  #home .boxes-wrapper {
    display: flex; }
  #home .address {
    display: inline-block;
    color: #fff;
    transition: 1s color ease; }
    #home .address:hover {
      color: #D9E1F2; }
  #home .box {
    box-sizing: border-box;
    margin-left: auto; }
  #home .description {
    background: #0D1D3E;
    padding: 50px;
    width: 450px;
    position: relative; }
    #home .description p {
      color: #fff; }
      #home .description p:not(:last-child) {
        margin-bottom: 20px; }
  #home .rsvp {
    background: #E6E6E6;
    padding: 40px 50px;
    width: 300px;
    position: relative;
    transform: translateY(-30px) translateX(-50px); }
    #home .rsvp div:not(:last-child) {
      margin-bottom: 10px; }
    #home .rsvp .button {
      display: block;
      text-align: center; }
  #home .icreon-logo {
    position: fixed;
    color: #ddd;
    font-size: 2rem;
    font-family: "din-condensed", sans-serif; }

.winter-magic-logo {
  width: 608px;
  top: 21px;
  position: relative;
  z-index: 9; }
  .winter-magic-logo svg, .winter-magic-logo img {
    display: block; }
  .winter-magic-logo .default {
    display: none; }

@media (min-width: 769px) {
  #home .boxes-wrapper {
    flex-direction: column; }
  #home .description {
    transform: translateX(-120px); } }

@media (max-width: 768px) {
  .winter-magic-logo {
    width: 364px;
    height: 91px;
    top: 0;
    margin-bottom: 40px; }
    .winter-magic-logo .white {
      display: none; }
    .winter-magic-logo .default {
      display: block; }
  #home .boxes-wrapper {
    flex-direction: column; }
  #home .content {
    padding-top: 50px;
    padding-bottom: 50px; }
  #home .bg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  #home .description {
    margin: 0 auto; } }

@media (max-width: 480px) {
  .winter-magic-logo {
    width: 243px;
    height: 61px; }
  #home .boxes-wrapper {
    flex-direction: column; }
  #home .box {
    padding: 30px;
    width: 100%; }
  #home .rsvp {
    margin-top: 0;
    transform: none; } }

#charity {
  background: url(../img/charity.png) no-repeat right center;
  overflow: hidden;
  position: relative;
  background-size: 48%; }
  #charity .row > div:first-child {
    z-index: 9; }
  #charity .trigger {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: red;
    opacity: 0; }
    #charity .trigger.one {
      top: -100px; }
    #charity .trigger.two {
      top: -100px; }
  #charity .row {
    position: relative; }
  #charity p:not(:last-child) {
    margin-bottom: 15px; }
  #charity .button {
    padding: 10px 40px;
    width: 100%;
    text-align: center; }
  #charity .parallax-el {
    position: relative; }
    #charity .parallax-el.one img {
      width: 680px; }
    #charity .parallax-el.two img {
      width: 550px; }
  #charity h4 {
    font-size: 1rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: "Gilroy-Medium", sans-serif;
    letter-spacing: 1.2; }
  #charity .row:not(:last-child) {
    margin-bottom: 30px; }

@media (max-width: 480px) {
  #charity .parallax-el {
    transform: none !important; } }

@media (max-width: 1023px) {
  #charity .parallax-el img {
    transform: none !important; } }

#auction {
  position: relative; }
  #auction .parallax-el {
    width: 304px;
    height: 339px;
    position: absolute;
    left: 0;
    bottom: 0px; }
  #auction .value-list {
    margin-top: 60px; }
  #auction .value {
    padding-top: 15px;
    padding-bottom: 40px;
    border-top: 3px solid #0D1D3E;
    display: block; }
    #auction .value .text {
      color: #0D1D3E;
      text-transform: uppercase;
      font-family: "Gilroy-Medium", sans-serif;
      line-height: 1.5;
      font-size: .9rem;
      margin-bottom: 10px; }
    #auction .value .price {
      color: #C8C8C8;
      text-transform: uppercase;
      font-size: .8rem;
      font-family: "Gilroy-Medium", sans-serif; }

@media (min-width: 769px) {
  .value-list {
    margin: -10px; }
    .value-list > div {
      padding: 0 10px; } }

#appreciation {
  margin-bottom: 0;
  padding-bottom: 150px;
  background: url("../img/appreciation.png") no-repeat right bottom/600px;
  position: relative; }
  #appreciation .trigger {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 1px;
    background: red;
    opacity: 0; }
  #appreciation .years-list {
    margin-top: 30px;
    column-count: 3; }
    #appreciation .years-list .year {
      border: 2px solid #0D1D3E; }
  #appreciation .year {
    text-align: center;
    padding: 15px;
    cursor: pointer;
    font-family: "din-condensed", sans-serif; }
    #appreciation .year .amount {
      font-size: 4.5rem; }
    #appreciation .year .unit {
      text-transform: uppercase;
      letter-spacing: 1.5;
      font-size: 1.5rem; }
  #appreciation .parallax-el {
    position: relative; }

@media (max-width: 480px) {
  #appreciation .parallax-el {
    transform: none !important;
    top: 0; } }

@media (max-width: 1023px) {
  #appreciation .row > div:first-child {
    margin-bottom: 40px; } }

.popup {
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  box-sizing: border-box;
  transition: .3s all ease;
  transform: translateY(100%); }
  .popup.show {
    transform: none; }
    .popup.show .anim-1,
    .popup.show .anim-2,
    .popup.show .anim-3 {
      opacity: 1;
      transform: none; }
    .popup.show .anim-1 {
      transition-delay: .15s; }
    .popup.show .anim-2 {
      transition-delay: .3s; }
    .popup.show .anim-3 {
      transition-delay: .45s; }
  .popup .el-hidden, .popup .anim-1, .popup .anim-2, .popup .anim-3 {
    opacity: 0;
    transform: translateY(15px);
    transition: .3s all ease; }
  .popup .content-wrapper {
    align-self: center;
    width: 100%; }
  .popup .close-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 9; }
  .popup h5 {
    opacity: 0.25;
    line-height: 2; }
  .popup .input-wrapper {
    position: relative;
    display: block;
    margin: 40px 0 30px; }
  .popup input[type="email"] {
    display: block;
    padding: 15px 0;
    border: none;
    background: transparent;
    color: #000;
    font-size: 1.4rem;
    border-bottom: 2px solid #ddd;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    font-family: "Gilroy-Light", sans-serif; }
    .popup input[type="email"]:focus + .border-bottom {
      transform: none; }
  .popup .border-bottom {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 2px;
    background: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: .3s all ease;
    display: block; }
  .popup a {
    color: #fff; }
  .popup .buttons-wrapper {
    display: flex; }
  .popup .button {
    padding-left: 35px;
    padding-right: 35px;
    background: transparent; }
  .popup .button.close {
    margin-left: 10px; }

.popup.rsvp {
  background: #fff; }
  .popup.rsvp .button:hover {
    background: #0D1D3E; }

.popup.decline-rsvp {
  background: #0D1D3E;
  color: #fff; }
  .popup.decline-rsvp .button {
    border-color: #fff;
    color: #fff; }
    .popup.decline-rsvp .button:hover {
      background: #fff;
      color: #0D1D3E; }
  .popup.decline-rsvp input[type="email"] {
    color: #fff; }
  .popup.decline-rsvp input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .popup.decline-rsvp input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .popup.decline-rsvp input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1; }
  .popup.decline-rsvp input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1; }
  .popup.decline-rsvp .scenes-wrapper {
    height: 100vh;
    width: 100%; }
    .popup.decline-rsvp .scenes-wrapper .scene:not(:last-child) {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%; }
  .popup.decline-rsvp .scene {
    display: flex;
    height: 100vh;
    pointer-events: none;
    opacity: 0;
    transition: .3s all ease;
    transform: translateY(30px); }
    .popup.decline-rsvp .scene.show {
      pointer-events: auto;
      opacity: 1;
      transition-delay: .15s; }
    .popup.decline-rsvp .scene .scene-content {
      align-self: center; }
  .popup.decline-rsvp .scene-content p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px; }
  .popup.decline-rsvp .button:first-child {
    margin-right: 10px; }

@media (max-width: 480px) {
  .popup.decline-rsvp .buttons-wrapper {
    display: block; }
  .popup.decline-rsvp .button:first-child {
    margin-right: 0;
    margin-bottom: 10px; }
  .popup.decline-rsvp .button {
    padding-left: 15px;
    padding-right: 15px; } }

#thankyou .content {
  height: 100vh;
  display: flex; }

#thankyou .align-center {
  align-self: center;
  width: 100%; }

#thankyou h1 {
  font-size: 3rem;
  margin-bottom: 8px;
  font-family: "din-condensed", sans-serif;
  color: #0D1D3E; }

#thankyou p {
  font-size: 1.5rem;
  color: #0D1D3E; }

/*# sourceMappingURL=style.css.map */