#thankyou {
  text-align: center; }
  #thankyou .content {
    height: 100vh;
    display: flex; }
  #thankyou .align-center {
    align-self: center;
    width: 100%; }
  #thankyou h1 {
    font-size: 2.5rem;
    margin-bottom: 10px; }
  #thankyou p {
    font-size: 1.3rem; }

/*# sourceMappingURL=thankyou.css.map */