@media (min-width: 960px) {
	
	.base-width {
		width: 960px;
		margin: 0 auto;
		display: block;
	}

	.display-flex {
		display: flex;
	}

}

@media (min-width: 1024px) {
	
	section {

		.img-wrapper {
			$padding: 40px;
			
			&.left {
				padding-right: $padding;
			}

			&.right {
				padding-left: $padding;
			}
		}
	}	
}

.hide-fly {
	opacity: 0;
	transform: translateY(30px);
}

$gl: 'Gilroy-Light', sans-serif;
$gm: 'Gilroy-Medium', sans-serif;
$gr: 'Gilroy-Regular', sans-serif;
$prime-color: #0D1D3E;
$dc: "din-condensed", sans-serif;

body {
	font-size: 16px;
	font-family: $gl;
	color: $prime-color;
}

p {
	font-size: 1rem;
}

.submit-wrapper {
	position: relative;

	.bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $prime-color;
		transform: scaleX(0);
		transform-origin: left;
		z-index: 0;
		transition: .3s all ease;
		pointer-events: none;
	}
}

.button-rsvp {
	letter-spacing: 1.5;
}

.button {
	border: 2px solid $prime-color;
	padding: 10px;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	font-size: 1rem;
	font-family: $gm;
	color: $prime-color;
	cursor: pointer;
	transition: .3s all ease;
	z-index: 9;
	border-radius: 0;
	// background: #fff;

	.text {
		color: $prime-color;
		position: relative;
		transition: .3s all ease;
		font-family: $gm;
	}

	&:not(.secondary) {

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $prime-color;
			transform: scaleX(0);
			transform-origin: left;
			z-index: 0;
			transition: .3s all ease;
		}

	}


	&:hover {

		color: #fff;
		background: $prime-color;
		
		.text {
			color: #fff;
		}
	}

}

h3 {
	font-size: 1.6rem;
	font-family: $dc;
	text-transform: uppercase;
	letter-spacing: 1.5;

	&.w-line {
		padding-bottom: 6px;
		border-bottom: 3px solid $prime-color;
	}
}

section {
	.align-center {
		align-self: center;
	}

	.align-bottom {
		align-self: flex-end;
	}

	img {
		width: 100%;
		display: block;
	}

	h3 {
		margin-bottom: 40px;
	}

	p {
		font-size: 1rem;
		line-height: 1.5;
	}

	&:not(:last-child) {
		margin-bottom: 100px;
	}
}

body.show-mobile-nav {

	.overlay {
		opacity: 1;
		pointer-events: auto;
	}

	.mobile-nav {
		transform: none;
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.25);
	z-index: 997;
	pointer-events: none;
	opacity: 0;
	transition: .3s all ease;
}

.mobile-nav {
	background: #fff;
	width: 80%;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 998;
	box-sizing: border-box;
	padding: 25px;
	transform: translateX(-105%);
	transition: .3s all ease;
	box-shadow: 2px 1px 20px 0px rgba(0,0,0,.15);

	.logo {
		margin-bottom: 50px;
		display: block;

		img {
			display: block;
			width: 183px;
			height: 20px;
		}
	}

	.button {
		padding-left: 35px;
		padding-right: 35px;
	}

	li {
		
		&:not(:last-child) {
			margin-bottom: 20px;
		}

		a {
			// font-size: .9rem;
			text-transform: uppercase;
			color: $prime-color;
		}
	}
}

@media (max-width: 960px) {
	.base-width {
		$gap: 40px;
		padding: 0 $gap;
	}
}

@media (max-width: 768px) {
	.base-width {

		img {
			max-height: 400px;
			object-fit: cover;
		}
	}

}

@media (max-width: 1023px) {
	.row:not(.value-list) {

		> div:not(:last-child) {
			margin-bottom: 40px;
		}
	}
}

@media (min-width: 731px) {
	.mobile-nav {
		display: none;
	}

	.overlay {
		display: none;
	}
}

@media (max-width: 480px) {
	.base-width {
		padding: 0 25px;
	}

	section {
		img {
			width: 100% !important;
		}
	}
}

footer {
	background: $prime-color;
	height: 100px;
}

@import "components/header";
@import "components/home";
@import "components/charity";
@import "components/auction";
@import "components/appreciation";
@import "components/popup";
@import "components/thankyou";