html
	title Winter Magic
	link(rel="stylesheet", href="css/reset.css")
	link(rel="stylesheet", href="css/flexboxgrid.css")
	link(rel="stylesheet", href="css/fonts.css")
	link(rel="stylesheet", href="css/style.css")
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<script src="https://use.typekit.net/dzf5lot.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	.overlay.close-mobile-nav
	.mobile-nav
		a.logo(href="")
			img(src="img/wm-small.png", alt="Winter Magic Small")

		ul
			li
				a(href="#charity").to charity
			li
				a(href="#auction").to auction
			li
				a(href="#appreciation").to appreciation
			li.button-wrapper
				a(href="").button.small.open-popup-rsvp.button-rsvp
					.text rsvp

	include ../includes/popup.pug

	//- header
	header#header.hide-logo
		.content.base-width
			a.logo(href="")
				img(src="img/wm-small.png", alt="Winter Magic Small")

			ul.header-list
				li
					a(href="#charity").to charity
				li
					a(href="#auction").to auction
				li
					a(href="#appreciation").to appreciation
				li.button-wrapper
					a(href="").button.small.open-popup-rsvp
						.text rsvp

			.burger-menu.open-mobile-nav
				.bar
				.bar
				.bar

	//- home
	section#home
		.content.base-width
			.bg
			.winter-magic-logo.rellax(data-rellax-speed="1")
				img.white(src="img/wm-white.png", alt="Winter Magic White")
				img.default(src="img/wm-default.png", alt="Winter Magic Default")
				//- .logo-fixed.absolute
				//- 	.midnightHeader.default
				//- 		.logo.default
				//- 	.midnightHeader.white
				//- 		.logo.white

			.boxes-wrapper
				.box-wrapper.rellax(data-rellax-speed="1")

					.box.description(data-midnight="white")
						p Icreon invites you to "Winter Magic", our 2017 Holiday Party! This year, our focus is on giving back, a chance to celebrate the season through charity, gifts & appreciation. See a few events we have planned for the evening below.
						p
							a.address(href="https://www.google.co.id/maps/place/597+5th+Ave,+New+York,+NY+10017,+USA/@40.7573527,-73.9798791,17z/data=!3m1!4b1!4m5!3m4!1s0x89c258fe853d8851:0x7875cbcc43e0bb8f!8m2!3d40.7573487!4d-73.9776851?hl=en", target="_blank")
								span 597 5th Avenue<br>New York, NY 10017<br>
						p December 12th, 2017<br>5:30-9:00PM

				.box-wrapper.rellax(data-rellax-speed="2")
					.box.rsvp
						div
							a(href="").button.open-popup-rsvp.button-rsvp
								.text RSVP
						div
							a(href="").button.open-popup-decline
								.text Regretfully Decline

	//- charity
	section#charity
		.trigger.one
		.content.base-width
			h3.w-line Charity

			.row
				.col-md-6.col-sm-12.col-xs-12
					h4 smile train
					p Millions of children in developing countries with untreated clefts live in isolation, but more importantly, have difficulty eating, breathing, hearing, and speaking. Cleft repair surgery is simple, and the transformation is immediate. Smile Train is a non-profit that provides sustainable training, funding, and resources to empower local doctors in 85+ developing countries to provide 100%-free cleft repair surgery and comprehensive cleft care in their own communities.
					p Icreon has worked with Smile Train for over 3 years, and during this time, we've seen the transformative effect that the organization can have on millions of children across the globe. For every RSVP and attendee that comes to Winter Magic, Icreon will donate $25 in your name to this wonderful organization.
					//- p Over the decades, New York Road Runners (NYRR) have grown from a local running club to a global champion of the running movement. NYRR is the world’s premier community running organization, and their efforts and events serve all runners and active individuals, from beginners to professional athletes: the young, the elderly, and the underserved of all abilities.Their Team for Kids (TFK) group supports NYRR Youth Programs. Through school-based programs, free youth events, and a collection of digital resources, these programs bring free running and fitness programs to 250,000+ students across the country.
					//- p Over the years of our relationship with NYRR, we’ve been incredibly moved by the power of running & its ability to create community. To celebrate that, we’ll also be donating $25 for every attendee to the TFK cause.
					//- a.button(href="").open-popup-rsvp.button-rsvp
					//- 	.text RSVP
					
				.col-md-6.col-sm-12.col-xs-12.img-wrapper.right.display-flex
					.align-center
						.parallax-el.one
							img.align-right(src="img/kid.png", alt="Kid")


			.row
				.trigger.two
				.col-md-6.col-sm-12.col-xs-12
					h4 new york road runners team for kids
					p Over the decades, New York Road Runners (NYRR) have grown from a local running club to a global champion of the running movement. NYRR is the world’s premier community running organization, and their efforts and events serve all runners and active individuals, from beginners to professional athletes: the young, the elderly, and the underserved of all abilities.Their Team for Kids (TFK) group supports NYRR Youth Programs. Through school-based programs, free youth events, and a collection of digital resources, these programs bring free running and fitness programs to 250,000+ students across the country.
					p Over the years of our relationship with NYRR, we’ve been incredibly moved by the power of running & its ability to create community. To celebrate that, we’ll also be donating $25 for every attendee to the TFK cause.
					
				.col-md-6.col-sm-12.col-xs-12.img-wrapper.right.display-flex
					.align-center
						.parallax-el.two
							img.align-right(src="img/kids.png", alt="Kids")
								
			.row
				.col-md-3.col-sm-5.col-xs-6
					a.button(href="").open-popup-rsvp.button-rsvp
						.text RSVP

	//- auction
	section#auction

		figure.parallax-el.rellax(data-rellax-speed="1")
			img(src="img/auction.png", alt="Parallax El")

		.content.base-width
			h3.w-line Silent Auction
			.row
				.col-md-8.col-sm-12.col-xs-12
					p In addition to an evening full of great food & drink, Icreon is hosting a Silent Auction that represent a number of our clients. From connected power tools to autographed memorabilia to Broadway show tickets, a number of items will be on display to 'bid' on silently. See a few of the selections below:

			.row.value-list

				//- .col-md-3.col-sm-4.col-xs-12.value-wrapper.fly-in
				//- 	.value
				//- 		.text Signed Baseball by ex-MLB Great, Tony Clark
				//- 		.price $150

				.col-md-3.col-sm-4.col-xs-12.value-wrapper.fly-in
					.value
						.text ToolSmart Tools by General Tools
						.price $150

				//- .col-md-3.col-sm-4.col-xs-12.value-wrapper.fly-in
				//- 	.value
				//- 		.text 2 Tickets to New York Cruise Lines
				//- 		.price $150

				//- .col-md-3.col-sm-4.col-xs-12.value-wrapper.fly-in
				//- 	.value
				//- 		.text 2 Pairs of Footwear from Melissa Shoes SS18
				//- 		.price $130

				//- .col-md-3.col-sm-4.col-xs-12.value-wrapper.fly-in
				//- 	.value
				//- 		.text 2 Tickets to the New Liberty Museum
				//- 		.price $120

				.col-md-3.col-sm-4.col-xs-12.value-wrapper.fly-in
					.value
						.text Coffee Table Books from David Zwirner
						.price $200

				//- .col-md-3.col-sm-4.col-xs-12.value-wrapper.fly-in
				//- 	.value
				//- 		.text A Spa Giftbox from XpresSpa
				//- 		.price $200

				//- .col-md-3.col-sm-4.col-xs-12.value-wrapper.fly-in
				//- 	.value
				//- 		.text Membership to the New York Road Runners
				//- 		.price $100

				.col-md-3.col-sm-4.col-xs-12.value-wrapper.fly-in
					.value
						.text Apple Watch Series 3, 2017 Edition
						.price $330

				.col-md-3.col-sm-4.col-xs-12.value-wrapper.fly-in
					.value
						.text A $150 Starbucks Gift Card
						.price $150

				.col-md-3.col-sm-4.col-xs-12.value-wrapper.fly-in
					.value
						.text 2 Tickets to Fuerzabruta
						.price $100

				.col-md-3.col-sm-4.col-xs-12.value-wrapper.fly-in
					.value
						.text 2 Tickets to the Rockefeller Center Observation Deck
						.price $100

				.col-md-3.col-sm-4.col-xs-12.value-wrapper.fly-in
					.value
						.text Amazon Echo Spot, 2017 Edition
						.price $130

				.col-md-3.col-sm-4.col-xs-12.value-wrapper.fly-in
					.value
						.text MORE TO COME
						//- .price $130

	//- appreciation
	section#appreciation
		.trigger
		.content.base-width
			.row.reverse-in-mobile
				.col-md-6.col-sm-12.col-xs-12.img-wrapper.left
					.parallax-el
						img(src="img/thank-you.png", alt="Thank You")

				.col-md-6.col-sm-12.col-xs-12.display-flex
					.content.align-center
						h3.w-line client appreciation
						p Last, but not least, Winter Magic is a celebration of giving. To that extent, Icreon will be showing its appreciation to a number of clients throughout the evening who have had an ongoing partnership with Icreon for 2, 3 and 5 or more years.

						.years-list
							.year
								.amount 2
								.unit years
							.year
								.amount 3
								.unit years
							.year
								.amount 5+
								.unit years

	//- footer
	footer

	//- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js")
	//- script(src="js/midnight.jquery.min.js")
	script(src="js/TweenMax.min.js")
	script(src="js/ScrollToPlugin.min.js")
	script(src="js/rellax.min.js")
	script(src="js/scrollMonitor.js")
	script(src="js/animation.gsap.js")
	script(src="js/main.js")