html
	title Winter Magic
	link(rel="stylesheet", href="css/reset.css")
	link(rel="stylesheet", href="css/flexboxgrid.css")
	link(rel="stylesheet", href="css/fonts.css")
	link(rel="stylesheet", href="css/style.css")
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<script src="https://use.typekit.net/dzf5lot.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	#thankyou
		.content.base-width
			.align-center
				h1 Thank you for letting us know
				p We'll be missing you.