#appreciation {
	margin-bottom: 0;
	padding-bottom: 150px;
	background: url("../img/appreciation.png") no-repeat right bottom / 600px;
	position: relative;

	.trigger {
		position: absolute;
		top: -100px;
		left: 0;
		width: 100%;
		height: 1px;
		background: red;
		opacity: 0;
	}

	.years-list {
		margin-top: 30px;
    column-count: 3;

		.year {
			border: 2px solid $prime-color;
		}
	}

	.year {
		text-align: center;
		padding: 15px;
		cursor: pointer;
		font-family: $dc;

		.amount {
			font-size: 4.5rem;
			// margin-bottom: px;
		}

		.unit {
			text-transform: uppercase;
			letter-spacing: 1.5;
			font-size: 1.5rem;
		}
	}

	.parallax-el {
		position: relative;
		// top: 170px;
	}

}

@media (max-width: 480px) {

	#appreciation .parallax-el {
		transform: none !important;
		top: 0;
	}
}

@media (max-width: 1023px) {

	#appreciation .row > div:first-child {
		margin-bottom: 40px;
	}
}