#auction {
	// $bgWidth: 350px;
	// background: url("../img/auction.png") no-repeat (-$bgWidth/6) bottom;
	// background-size: $bgWidth;
	position: relative;

	.parallax-el {
		width: 304px;
		height: 339px;
		position: absolute;
		left: 0;
		bottom: 0px;
		// top: 150px;
	}

	// $valueGap: 15px;

	.value-list {
		// margin: 0 -$valueGap;
		margin-top: 60px;
		// column-count: 4;
  //   column-gap: 25px;

		// > div {
		// 	padding: 0 $valueGap;
		// }
	}

	.value {
		padding-top: 15px;
		padding-bottom: 40px;
		border-top: 3px solid $prime-color;
		display: block;

		.text {
			color: $prime-color;
			text-transform: uppercase;
			font-family: $gm;
			line-height: 1.5;
			font-size: .9rem;
			margin-bottom: 10px;
		}

		.price {
			color: #C8C8C8;
			text-transform: uppercase;
			font-size: .8rem;
			font-family: $gm;
		}
	}
}

@media (min-width: 769px) {

	$valueGap: 10px;

	.value-list {
		margin: 0 -$valueGap;

		> div {
			padding: 0 $valueGap;
		}
	}

}

@media (max-width: 768px) {

	// #auction {

	// 	.value-list {
	// 		column-count: 3;
	// 	}
	// }
}

@media (max-width: 480px) {

	// #auction {

	// 	.value-list {
	// 		column-count: 1;
	// 	}
	// }
}