#charity {
  background: url(../img/charity.png) no-repeat right center;
  overflow: hidden;
  position: relative;
  background-size: 48%;

  .row > div:first-child {
  	z-index: 9;
  }

	.trigger {
		position: absolute;
		left: 0;
		width: 100%;
		height: 1px;
		background: red;
		opacity: 0;

		&.one {
			top: -100px;
		}

		&.two {
			top: -100px;
		}
	}

	.row {
		position: relative;
	}

	p:not(:last-child) {
		margin-bottom: 15px;
	}

	.button {
		// margin-top: 20px;
		padding: 10px 40px;
		width: 100%;
		text-align: center;
	}

	.parallax-el {
		position: relative;

		&.one img {
			width: 680px;
		}

		&.two img {
			width: 550px;
		}
	}


	h4 {
		font-size: 1rem;
		margin-bottom: 30px;
		text-transform: uppercase;
		font-family: $gm;
		letter-spacing: 1.2;
	}

	.row:not(:last-child) {
		margin-bottom: 30px;
	}

}

@media (max-width: 480px) {

	#charity .parallax-el {
		transform: none !important;
	}
}

// @media (max-width: 768px) {

// }

@media (max-width: 1023px) {

	// #charity .img-wrapper {
	// 	margin-top: 40px;
	// }
	
	#charity .parallax-el img {
		transform: none !important;
	}
}