#header {
	// margin-top: 20px;
	margin-bottom: 30px;
	text-transform: uppercase;
	background: #fff;
	position: sticky;
	top: 0;
	z-index: 99;
	overflow: hidden;
	border-bottom: 1px solid #F0F0F0;

	.content {
		display: flex;
		// padding-top: 20px;
		// padding-bottom: 20px;
		// border-bottom: 1px solid #eee;
	}

	.logo {
		// font-family: $gm;
		// font-size: 1.5rem;
		// letter-spacing: 3;
		// color: $prime-color;
		padding: 19.5px 0;
		transition: .3s all ease;
		
		img {
			display: block;
			width: 183px;
			height: 20px;
		}
	}

	&.hide-logo {
		border-color: transparent;

		.logo {
			transform: translateY(100%);
		}
	}

	a {
		// font-size: 1.2rem;
		line-height: 32px;
		display: block;
    letter-spacing: 1.5;
    color: $prime-color;
	}

	.button {
		line-height: 28px;
		padding: 0 40px;
	}

	.header-list {
		display: flex;
		margin-left: auto;

		li {
			margin-left: 20px;
			align-self: center;
		}

		a {
			font-size: .9rem;
		}

	}

	.burger-menu {
		width: 32px;
		height: 26px;
		// background: red;
		display: block;
		margin-left: auto;
		align-self: center;
		display: none;
		position: relative;
		cursor: pointer;

		.bar {
			background: $prime-color;
			height: 2px;
			position: absolute;
			left: 0;
			width: 100%;
		}

		.bar:first-child {
			top: 0;
		}

		.bar:nth-child(2) {
			top: 50%;
			transform: translateY(-50%);
		}

		.bar:last-child {
			bottom: 0;
		}
	}
}

@media (max-width: 730px) {

	#header {

		.burger-menu {
			display: block;
		}

		.header-list {
			display: none;
		}
	}
}

@media (max-width: 480px) {

	#header {
		margin: 0;
		overflow: hidden;

		.content {
			overflow: auto;
		}

		.header-list {
			width: 425px;

			li {
				// display: none;
				margin-left: 0;
				margin-right: 20px;
			}

			li:last-child {
				border-right: 20px solid #fff;
			}
		}
	}

}