#home {
	position: relative;
	padding-bottom: 0;
	margin-bottom: 100px;
	overflow: hidden;
	// background: url("../img/home.png") no-repeat center center / cover;

	.content {
		position: relative;
	}

	.bg {
		position: absolute;
		$gap: 40px;
		top: $gap * 3;
		bottom: $gap * 2;
		left: -$gap;
		right: -$gap;
    z-index: -1;
		background: url("../img/home.png") no-repeat center center / cover;
		object-fit: cover;
	}

	h1 {
		font-size: 6.5rem;
		text-transform: uppercase;
	}

	.boxes-wrapper {
		display: flex;
	}

	.address {
		display: inline-block;
		color: #fff;
		transition: 1s color ease;

		&:hover {
			color: #D9E1F2;
		}
	}

	.box {
		box-sizing: border-box;
		margin-left: auto;
		// box-shadow: -5px 5px 20px 0px rgba(0,0,0,.2);
	}

	.description {
		background: #0D1D3E;
		padding: 50px;
		width: 450px;
		position: relative;

		p {
			// font-size: 1.2rem;
			color: #fff;

			&:not(:last-child) { 
				margin-bottom: 20px;
			}
		}
	}

	.rsvp {
		background: #E6E6E6;
		padding: 40px 50px;
		width: 300px;
		position: relative;
		transform: translateY(-30px) translateX(-50px);

		div {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}

		.button {
			display: block;
			text-align: center;
		}
	}

	.icreon-logo {
		position: fixed;
		color: #ddd;
		font-size: 2rem;
		font-family: $dc;
	}
}

.winter-magic-logo {
  width: 608px;
  top: 21px;
  position: relative;
  z-index: 9;

	svg, img {
		display: block;
	}

	.default {
		display: none;
	}
}

// .logo-fixed {
// 	position: fixed;
//   width: 610px;
//   top: auto !important;
//   left: auto !important;
//   right: auto !important;
//   z-index: 9;
//   transition: .3s all ease;

//   &.absolute {
//   	position: absolute !important;
//   	top: 52px !important;

//   	.midnightHeader.default {
//   		transform: translateY(-13.6432%) !important;

//   		.midnightInner {
//   			transform: translateY(13.6432%) !important;
//   		}
//   	}

//   	.midnightHeader.white {
//   		transform: translateY(85.3568%) !important;

//   		.midnightInner {
//   			transform: translateY(-85.3568%) !important;
//   		}
//   	}
//   }
//   // opacity: 0;

// 	.logo {
// 		background: url('../img/winter-magic-logos.svg') no-repeat 0 0;
// 		width: 607px;
// 		height: 151px;
// 		display: block;
// 	}

// 	.logo.white {
// 		background-position: 0 -170px;
// 	}
// }

@media (min-width: 769px) {

	#home {

		.boxes-wrapper {
			flex-direction: column;
		}

		.description {
			transform: translateX(-120px);
			// margin-top: 40px;
		}

	}

}

@media (max-width: 768px) {

	.winter-magic-logo {
		width: 364px;
		height: 91px;
		top: 0;
		margin-bottom: 40px;

		.white {
			display: none;
		}

		.default {
			display: block;
		}
	}

	#home {

		.boxes-wrapper {
			flex-direction: column;
		}

		.content {
			padding-top: 50px;
			padding-bottom: 50px;
		}

		.bg {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		.description {
			// width: auto;
			margin: 0 auto;
		}
	}
}

@media (max-width: 480px) {

	.winter-magic-logo {
		width: 243px;
		height: 61px;
	}

	#home  {

		.boxes-wrapper {
			flex-direction: column;
		}

		.box {
			padding: 30px;
			width: 100%;
		}

		.rsvp {
			margin-top: 0;
			transform: none;
		}

		// .description {
		// 	margin-top: 40px;
		// }
	}
}