.popup {
	height: 100vh;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 999;
	display: flex;
	box-sizing: border-box;
	$subOpacity: .25;
	transition: .3s all ease;
	transform: translateY(100%);

	&.show {
		transform: none;

		.anim-1,
		.anim-2,
		.anim-3 {
			opacity: 1;
			transform: none;
		}

		.anim-1 {
			transition-delay: .15s;
		}

		.anim-2 {
			transition-delay: .3s;
		}

		.anim-3 {
			transition-delay: .45s;
		}
	}

	.el-hidden {
		opacity: 0;
		transform: translateY(15px);
		transition: .3s all ease;
	}

	.anim-1 {
		@extend .el-hidden;
	}

	.anim-2 {
		@extend .el-hidden;
	}

	.anim-3 {
		@extend .el-hidden;
	}

	.content-wrapper {
		align-self: center;
		width: 100%;
	}

	.close-icon {
		position: absolute;
		$iconFixedBase: 30px;
		top: $iconFixedBase;
		right: $iconFixedBase;
		cursor: pointer;
		z-index: 9;
	}

	h5 {
		opacity: $subOpacity;
		line-height: 2;
	}

	.input-wrapper {
		position: relative;
		display: block;
		margin: 40px 0 30px;
	}

	input[type="email"] {
		display: block;
		padding: 15px 0;
		border: none;
		background: transparent;
		color: #000;
		font-size: 1.4rem;
		border-bottom: 2px solid #ddd;
		width: 100%;
		-webkit-appearance: none;
		-moz-appearance: none;
		border-radius: 0;
		font-family: $gl;

		&:focus + .border-bottom {
			transform: none;
		}
	}

	.border-bottom {
		position: absolute;
		left: 0;
		width: 100%;
		bottom: 0;
		height: 2px;
		background: #000;
		transform: scaleX(0);
		transform-origin: left;
		transition: .3s all ease;
		display: block;
	}

	a {
		color: #fff;
	}

	.buttons-wrapper {
		display: flex;
	}

	.button {
		padding-left: 35px;
		padding-right: 35px;
		background: transparent;
	}

	.button.close {
		// background: #39393A;
		margin-left: 10px;
	}
}


// rsvp
.popup.rsvp {
	background: #fff;

	.button:hover {
		background: $prime-color;
	}
}

// decline rsvp
.popup.decline-rsvp {
	background: $prime-color;
	color: #fff;

	.button {
		border-color: #fff;
		color: #fff;

		&:hover {
			background: #fff;
			color: $prime-color;
		}
	}

	input[type="email"] {
		color: #fff;
	}

	input::-webkit-input-placeholder { 
		color: rgba(255,255,255,.5);
	}
	input:-ms-input-placeholder { 
		color: rgba(255,255,255,.5);
	}
	input::-moz-placeholder { 
		color: rgba(255,255,255,.5);
		opacity: 1;
	}
	input:-moz-placeholder { 
		color: rgba(255,255,255,.5);
		opacity: 1;
	}

	.scenes-wrapper {
		height: 100vh;
		width: 100%;

		.scene:not(:last-child) {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 100%;
		}
	}

	.scene {
		display: flex;
		height: 100vh;
		pointer-events: none;
		opacity: 0;
		transition: .3s all ease;
		transform: translateY(30px);

		&.show {
			pointer-events: auto;
			opacity: 1;
			transition-delay: .15s;
			// transform: none;
		}

		.scene-content {
			align-self: center;
		}
	}

	.scene-content {
		p {
			font-size: 1.2rem;
			line-height: 1.5;
			margin-bottom: 30px;
		}

	}

	.button:first-child {
		margin-right: 10px;
	}
}

// iphone 6 plus
@media (max-width : 480px) {

	.popup.decline-rsvp {

		.buttons-wrapper {
			display: block;
		}

		.button:first-child {
			margin-right: 0;
			margin-bottom: 10px;
		}

		.button {
			padding-left: 15px;
	    padding-right: 15px;
		}
	}
}