#thankyou {

	.content {
		height: 100vh;
		display: flex;
	}

	.align-center {
		align-self: center;
		width: 100%;
	}

	// text-align: center;

	h1 {
		font-size: 3rem;
		margin-bottom: 8px;
		font-family: $dc;
		color: $prime-color;
	}

	p {
		font-size: 1.5rem;
		color: $prime-color;
	}
}