//- decline rsvp popup
.popup.decline-rsvp
	.close-icon.anim-2.close-popup-decline-rsvp
		svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24")
			g(fill="#fff", fill-rule="evenodd")
				path(d="M22 .7L23.2 2 2 23.4.8 22z")
				path(d="M.7 2L2 .8 23.4 22 22 23.2z")

	.scenes-wrapper
		//- scene 1
		.scene.one.show
			.scene-content.base-width.row
				p.col-md-9.col-sm-12.col-xs-12.anim-1 Are you sure you need to decline? We're donating $25 per attendee to a great charity, Smile Train! You being here impacts a great cause!
				.buttons-wrapper.anim-2
					.button.next-scene Unfortunately, I can't attend
					.button.open-popup-rsvp I've seen the light, sign me up!

		.scene.six
			form.scene-content.base-width.row(action="https://icreon.us7.list-manage.com/subscribe/post?u=d2bafd8854b08f4b7483ad01c&amp;id=96b3095678", method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank")
				.ps-wrapper.anim-1
					p.col-md-9.col-sm-12.col-xs-12 We'll be sorry to miss you!
					p.col-md-6.col-sm-12.col-xs-12
						input#mce-EMAIL.email.email-input(type="email", placeholder="Email Address", required="required", name="EMAIL")
						div(style="position: absolute; left: -5000px;", aria-hidden="true")
							input(type="text", name="b_074a5f521f440ccfa7bacb4e3_8a4070226e", tabindex="-1" ,value="")

				.buttons-wrapper.anim-2
					input(type="submit", value="Regretfully Confirm", name="subscribe",)#mc-embedded-subscribe.button.regretfully-confirm

//- rsvp popup
.popup.rsvp
	.close-icon.anim-2.close-popup-rsvp
		svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24")
			g(fill="#000", fill-rule="evenodd")
				path(d="M22 .7L23.2 2 2 23.4.8 22z")
				path(d="M.7 2L2 .8 23.4 22 22 23.2z")

	.content-wrapper
		.content.base-width
			.anim-1
				h3 rsvp form

			include form.html